﻿
@{
    ViewBag.Title = "New Rental";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Rental Form</h2>
<form id="newRental">
    <div class="form-group">
        <label for="customer">Customer</label>
        <div class="tt-container">
            <input id="customer" name="customer" data-rule-validCustomer="true" type="text" class="form-control typeahead" autocomplete="off" required/>
        </div>
    </div>

    <div class="form-group">
        <label for="movie">Movie</label>
        <div class="tt-container">
            <input id="movie" name="movie" data-rule-atLeastOneMovie="true" type="text" class="form-control typeahead" autocomplete="off"/>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-4 col-sm-4">
            <ul id="movies" class="list-group"></ul>
        </div>
    </div>
    

    <button class="btn btn-primary">Submit</button>
</form>

@section scripts 
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {

            // Initiate view model on client
            var vm = {
                movieIds: []
            };

            // Typeahead for customer textbox
            $('#customer').on('focus', function () {
                $(this).addClass('active');
            }).on('blur', function () {
                if (!$(this).val()) {
                    $(this).removeClass('active');
                }
            });

            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            customers.initialize();

            $('#customer.typeahead').typeahead({
                hint: true,
                highlight: true,
                minLength: 3
            }, {
                name: 'customers',
                display: 'name',
                source: customers,
                limit: 10
            }).on("typeahead:select", function (e, customer) {
                vm.customerId = customer.id;
            });

            // Typeahead for movie textbox
            $('#movie').on('focus', function () {
                $(this).parent().siblings().addClass('active');
            }).on('blur', function () {
                if (!$(this).val()) {
                    $(this).parent().siblings().removeClass('active');
                }
            });

            var movies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/movies?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            movies.initialize();

            $('#movie.typeahead').typeahead({
                hint: true,
                highlight: true,
                minLength: 3
            }, {
                name: 'movies',
                display: 'name',
                source: movies,
                limit: Infinity
            }).on("typeahead:select", function (e, movie) {
                $("#movies").append("<li class='list-group-item'>" + movie.name + "</li>");

                $("#movie").typeahead("val", "");

                vm.movieIds.push(movie.id);
            });

            // Check that user enters valid customer from list
            $.validator.addMethod("validCustomer", function () {
                return vm.customerId && vm.customerId !== 0;
            }, "Please select a valid customer.");

            // Check that atleast one movie has been selected
            $.validator.addMethod("atLeastOneMovie", function () {
                return vm.movieIds.length > 0;
            }, "Please select at least one movie.");

            // Submit form after validation
            var validator = $("#newRental").validate({
                submitHandler: function () {

                    $.ajax({
                        url: "/api/newRentals",
                        method: "post",
                        data: vm
                    })
                    .done(function () {
                        toastr.success("Rentals successfully added!");

                        $("#customer").typeahead("val", "");
                        $("#movie").typeahead("val", "");
                        $("#movies").empty();

                        vm = { movieIds: [] };

                        validator.resetForm();
                    })
                    .fail(function () {
                        toaster.success("Oops!! Somethig unexpected happened. Try Again!");
                    });

                    return false;
                }
            });
        });
    </script>
}