﻿body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.field-validation-error,
.validation-summary-errors,
label.error {
    color: red;
}

.input-validation-error,
input.error {
    border: 2px solid red;
}

#toast-container {
    top: 70px !important;
}

.error-404 h2 {
    position: absolute;
    width: 100%;
    background: aliceblue;
    text-align: center;
    margin: 0;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    padding: 30px;
}