﻿/*.typeahead {
  background-color: #fff;
}
 .typeahead:focus {
  border: 2px solid #0097cf;
}
 .tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	 -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
 .tt-hint {
  color: #999
}
 .tt-menu {
  width: 422px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
	 -moz-border-radius: 8px;
		  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	 -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
		  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
 .tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}
 .tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}
 .tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
 }
 .tt-suggestion p {
  margin: 0;
}
 .tt-container {
	position: relative;
}*/ 

/***
	TYPEAHEAD for MDB
	by djibe
***/

.typeahead {
	width: 100%;
}

.tt-container {
	position: relative;
}

.tt-suggestion p {
  margin: 0;
}

span.twitter-typeahead .tt-query,
span.twitter-typeahead .tt-hint {
  height: 100%;
  padding: 8px 12px 8px 0px;
  font-size: 16px;
  line-height: 30px;
  outline: none;
  display: block;
  color: #999 !important;
  width: 100%;
}

/* Aspect of the dropdown of results*/
span.twitter-typeahead {
	width: 100%;
}

span.twitter-typeahead .tt-hint {
  color: #999 !important;
  width: 100%;
}

.typeahead.dropdown-menu,
span.twitter-typeahead .tt-menu {
	min-width: 50%;
	background: white;
	/*as large as input*/
	border: none;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
	border-radius: 0;
	font-size: 1.2rem;
}


/*Aspect of results, done*/

span.twitter-typeahead .tt-suggestion {
	color: #4285F4;
	cursor: pointer;
	padding: 1rem;
	text-transform: capitalize;
	font-weight: 400;
}


/*Hover a result, done*/

span.twitter-typeahead .active.tt-suggestion,
span.twitter-typeahead .tt-suggestion.tt-cursor,
span.twitter-typeahead .active.tt-suggestion:focus,
span.twitter-typeahead .tt-suggestion.tt-cursor:focus,
span.twitter-typeahead .active.tt-suggestion:hover,
span.twitter-typeahead .tt-suggestion.tt-cursor:hover {
	background-color: #EEEEEE;
	color: #4285F4;
}

span.twitter-typeahead .tt-suggestion:hover,
span.twitter-typeahead .tt-suggestion.tt-cursor:hover {
	background-color: #0097cf;
	color: #ffffff;
}

label.active {
	color: #4285F4 !important;
}